<header>
 <h1>Bienvenidos a la tarjeta de presentación</h1>
</header>

<section>
 
  <div class="input_area">
    Nombre : <input [(ngModel)]="name" [readonly]="isDisabled" class="input_text">
  </div>
  <img class="avatar" src="https://api.adorable.io/avatars/285/javi.png">
  <div class="input_area">
    Trabajo : <input [(ngModel)]="position" [readonly]="isDisabled" class="input_text">
  </div>


</section>


<footer>
  <button (click)="saveEvent()" class="save_button">{{ butonText }}</button>
  <button (click)="showInformation()">Show Information</button>
  <button (click)="resetInformation()">Reset Information</button> 
</footer>